img.img {border-radius:50px ;height:100px ;width: 100px}
div h1.abc{color: red;}
 h1.text{ color: black; }
 button.botão{border-radius:50px; }
 h1.estado{text-align: center;}
h1.inicio{text-align: center}